/* Color palette inspired by designjunkee's Ocean Five
 * <http://www.colourlovers.com/palette/1473/Ocean_Five>
 * CC-BY-NC-SA
 */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 185%;
  line-height: 1.2;
  color: #333333; }

a {
  color: #eeeeee; }

a:hover, a:active, .link-as-text:hover, .link-as-text:active {
  background-color: #f08d6f; }

.link-as-text {
  color: #333333;
  text-decoration: none; }
  .link-as-text:hover {
    color: #eeeeee; }

blockquote {
  font-family: 'Swanky and Moo Moo', cursive;
  font-size: 200%;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #edc951;
  padding-left: 20px;
  text-shadow: 2px 5px 7px rgba(255, 255, 255, 0.3); }
  blockquote .attr {
    font-family: Arial, sans-serif;
    font-size: 60%;
    text-shadow: none; }
  blockquote a {
    color: #333333; }
    blockquote a:hover {
      color: #eeeeee; }

code-prism {
  font-size: 90%; }

code-prism /deep/ pre {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  width: 95%;
  box-sizing: border-box;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 10px !important;
  padding-right: 10px !important; }

.full-page-image, .gif {
  height: 90vh;
  margin: 0 auto;
  padding-top: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  width: 100%; }

p {
  margin: 5px 0 5px 0; }

h1 {
  color: #cc333f;
  font-size: 225%;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif, sans-serif;
  text-shadow: 2px 5px 10px rgba(255, 255, 255, 0.2);
  margin-bottom: 10px; }

ul {
  list-style-type: circle;
  margin-left: 25px; }

li {
  margin-bottom: 5px;
  margin-top: 5px; }

h2 {
  color: #333333;
  margin-left: 20px; }

.attr small {
  font-size: 50%;
  display: block; }

slide-content {
  background: #00a0b0;
  box-sizing: border-box;
  padding-left: 25px;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

slide-content .sub-title {
  margin: 5px 0 10px 5px; }

.title-slide {
  padding-top: 30vh;
  text-align: center;
  padding-left: 0; }
  .title-slide h2 {
    margin-left: 0; }

slide-show /deep/ .progress-bar {
  background-color: #edc951;
  /* Animation technique from Reveal.js <https://github.com/hakimel/reveal.js> */
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
slide-show /deep/ .next {
  border-left-color: #6a4a3c; }
slide-show /deep/ .prev {
  border-right-color: #6a4a3c;
  z-index: 2; }

.video-container {
  text-align: center; }

.browser-table {
  text-align: center;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 15px; }
  .browser-table img {
    width: 60px; }
  .browser-table th {
    font-size: 80%; }
  .browser-table th, .browser-table td {
    width: 60px;
    padding: 0 25px;
    line-height: 1;
    vertical-align: middle; }
  .browser-table .yes, .browser-table .no, .browser-table .almost {
    font-weight: bold; }
  .browser-table .yes {
    color: green;
    text-shadow: 2px 5px 15px white; }
  .browser-table .almost {
    color: goldenRod;
    text-shadow: 2px 5px 15px white; }
  .browser-table .no {
    color: crimson;
    text-shadow: 2px 5px 15px rgba(0, 0, 0, 0.7); }

@media print {
  body {
    background: #00a0b0; }

  .gif {
    height: 6in;
    display: block; }

  slide-show /deep/ .progress-bar {
    display: none; }

  slide-content {
    display: block;
    page-break-after: always;
    height: inherit;
    width: inherit;
    position: static; } }
