//font-family: 'Swanky and Moo Moo', cursive;
//font-family: 'Francois One', sans-serif;
//font-family: 'Roboto Condensed', sans-serif;

/* Color palette inspired by designjunkee's Ocean Five
 * <http://www.colourlovers.com/palette/1473/Ocean_Five>
 * CC-BY-NC-SA
 */
$primary: #00A0B0; // blue
$secondary: #CC333F; // red
$tertiary: #EB6841; // orange
$quaternary: #6A4A3C; // brown
$quinary: #EDC951; // yellow

$standardDark: #333333; // dark gray
$standardLight: #eeeeee; // off white

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 185%;
    line-height: 1.2;
    color: $standardDark;
}
a {
    color: $standardLight;
}
a:hover, a:active, .link-as-text:hover, .link-as-text:active {
    background-color: lighten($tertiary, 10%);
}
.link-as-text {
    color: $standardDark;
    text-decoration: none;
    &:hover {
        color: $standardLight;
    }
}
blockquote {
    font-family: 'Swanky and Moo Moo', cursive;
    font-size: 200%;
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: $quinary;
    padding-left: 20px;
    text-shadow: 2px 5px 7px rgba(255, 255, 255, 0.3);
    .attr {
        font-family: Arial, sans-serif;
        font-size: 60%;
        text-shadow: none;
    }
    a {
        color: $standardDark;
        text-decoration: none;
        &:hover {
            color: $standardLight;
        }
    }
}
code-prism {
    font-size: 90%;
}
code-prism /deep/ pre {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    width: 95%;
    box-sizing: border-box;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.full-page-image, .gif {
    height: 90vh;
    margin: 0 auto;
    padding-top: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    width: 100%;
}
.full-width-image {
    padding-right: 5%;
    margin-top: 25px;
    box-sizing: border-box;
    width: 100%;
    
}

google-map {
    display: block;
    height: 30vh;
    width: 95%;
}

github-card {
    float: left;
}

paper-progress {
    height: 10px;
    &::shadow {
        #activeProgress {
            background-color: $tertiary;
        }
        #secondaryProgress {
            background-color: $quinary;
        }
    }
}

paper-radio-button {
    height: 10px;
    &::shadow {
        #onRadio {
            background-color: $quinary;
        }
        #ink {
            color: $tertiary;
            &[checked] {
                color: $quinary;
            }
        }
        #offRadio {
            border-color: gray;
        }
    }
}

paper-tabs::shadow #selectionBar {
  background-color: $tertiary;
}

paper-tab {
    color: $standardLight;
}

.ui-example {
     width: 95%;
     height: 4em;
     padding: 20px;
}

.label {
    float: left;
    padding-right: 20px;
    font-size: 80%;
    vertical-align: middle;
    line-height: 2em;
}
.center-heading {
    text-align: center;
    margin-top: 30vh !important;
}

.center-child {
    text-align: center;
}

.half-width {
   width: 20em;
}
.quarter-width-image {
   width: 10em;
   margin: 2em;
}
.large-list {
    font-size: 200%;
}
p {margin: 5px 0 5px 0; }
h1 {
    color: $secondary;
    font-size: 225%;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif, sans-serif;
    text-shadow: 2px 5px 10px rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
}
ul {
    list-style-type: circle;
    margin-left: 25px;
}
li {
    margin-bottom: 5px;
    margin-top: 5px;
}
h2 {
    color: $standardDark;
    margin-left: 20px;
}
.attr small {
    font-size: 50%;
    display: block;
}

slide-content {
    background: $primary;
    box-sizing: border-box;
    padding-left: 25px;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

slide-content .sub-title {
    margin: 5px 0 10px 5px;
}


.title-slide {
    padding-top: 30vh;
    text-align: center;
    padding-left: 0;
    h2 {
        margin-left: 0;
    }
}
slide-show {
    /deep/ .progress-bar {
        background-color: $quinary;
        /* Animation technique from Reveal.js <https://github.com/hakimel/reveal.js> */
        transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    }
    /deep/ .next, {
        border-left-color: $quaternary;
    }
    /deep/ .prev, {
        border-right-color: $quaternary;
        z-index: 2;
    }
}

.video-container {
    text-align: center;
}

.library-logo {
    width: 30.5vw;
    margin: 1vw;
    display: block;
    float: left;
}

.rotate-15 {
    transform: rotate(15deg);
}

.rotate-negative-15 {
    transform: rotate(-15deg);
}

.rotate-10 {
    transform: rotate(10deg);
}

.rotate-negative-10 {
    transform: rotate(-10deg);
}

.rotate-20 {
    transform: rotate(20deg);
}

.rotate-negative-20 {
    transform: rotate(-20deg);
}


#topcoat-logo {
    color: rgb(70, 70, 70);
    letter-spacing: -3.90000009536743px;
    text-align: left;
    text-decoration: none solid rgb(70, 70, 70);
    -webkit-column-rule-color: rgb(70, 70, 70);
    -webkit-font-smoothing: antialiased;
    -webkit-text-decorations-in-effect: none;
    -webkit-text-emphasis-color: rgb(70, 70, 70);
    -webkit-text-fill-color: rgb(70, 70, 70);
    -webkit-text-stroke-color: rgb(70, 70, 70);
    border: 0px none rgb(70, 70, 70);
    font: normal normal 600 normal 60px/66px source-sans-pro, sans-serif;
    outline: rgb(70, 70, 70) none 0px;
    -webkit-border-after: 0px none rgb(70, 70, 70);
    -webkit-border-before: 0px none rgb(70, 70, 70);
    -webkit-border-end: 0px none rgb(70, 70, 70);
    -webkit-border-start: 0px none rgb(70, 70, 70);
}

#pure-logo {
    background: white;
    display: block;
    height: 5vh;
    line-height: 5vh;
    vertical-align: middle;
    box-sizing: border-box;
    color: rgb(31, 141, 214);
    width: 25vw;
    text-align: center;
    text-decoration: none solid rgb(31, 141, 214);
    -webkit-column-rule-color: rgb(31, 141, 214);
    -webkit-locale: en;
    perspective-origin: 357.5px 51px;
    -webkit-perspective-origin: 357.5px 51px;
    -webkit-text-emphasis-color: rgb(31, 141, 214);
    -webkit-text-fill-color: rgb(31, 141, 214);
    -webkit-text-stroke-color: rgb(31, 141, 214);
    transform-origin: 357.5px 51px;
    -webkit-transform-origin: 357.5px 51px;
    font-weight: 100;
    font-size: 120%;
    font-family: omnes-pro, sans-serif;
    margin: 0px;
    outline: rgb(31, 141, 214) none 0px;
}





.browser-table {
    text-align: center;
    margin: 0 auto;
    background: rgba(255, 255, 255, .2);
    padding: 15px;
    img {
        width: 60px;
    }
    th {
        font-size: 80%;
    }
    th, td {
        width: 60px;
        padding: 0 25px;
        line-height: 1;
        vertical-align: middle;
    }
}
.yes, .no, .almost {
    font-weight: bold;
}
.yes {
    color: green;
    text-shadow: 2px 5px 15px rgba(255, 255, 255, 1);
}
.almost {
    color: goldenRod;
}
.no {
    color: crimson;
    text-shadow: 2px 5px 15px rgba(0, 0, 0, .7);
}
/* Small screens */
@media screen and (max-width: 1000px) {
    body {
        font-size: 125%;
    }
    h1 {
        margin-top: 5px !important;
        font-size: 175% !important;
    }
    code-prism /deep/ code {
        line-height: 1 !important;   
    }
}

/* Print */
@media print {
    body {
        font-size: 160%;
        background: $primary;
    }
    .gif {
        height: 6in;
        display: block;
    }
    slide-show /deep/ .progress-bar {
        display: none;
    }
    slide-content { 
        display: block;
        page-break-after: always;
        height: inherit;
        width: inherit;
        position: static;
    }
}