//font-family: 'Swanky and Moo Moo', cursive;
//font-family: 'Francois One', sans-serif;
//font-family: 'Roboto Condensed', sans-serif;

/* Color palette inspired by designjunkee's Ocean Five
 * <http://www.colourlovers.com/palette/1473/Ocean_Five>
 * CC-BY-NC-SA
 */
$primary: #00A0B0; // blue
$secondary: #CC333F; // red
$tertiary: #EB6841; // orange
$quaternary: #6A4A3C; // brown
$quinary: #EDC951; // yellow

$standardDark: #333333; // dark gray
$standardLight: #eeeeee; // off white

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 185%;
    line-height: 1.2;
    color: $standardDark;
}
a {
    color: $standardLight;
}
a:hover, a:active, .link-as-text:hover, .link-as-text:active {
    background-color: lighten($tertiary, 10%);
}
.link-as-text {
    color: $standardDark;
    text-decoration: none;
    &:hover {
        color: $standardLight;
    }
}
blockquote {
    font-family: 'Swanky and Moo Moo', cursive;
    font-size: 200%;
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: $quinary;
    padding-left: 20px;
    text-shadow: 2px 5px 7px rgba(255, 255, 255, 0.3);
    .attr {
        font-family: Arial, sans-serif;
        font-size: 60%;
        text-shadow: none;
    }
    a {
        color: $standardDark;
        text-decoration: none;
        &:hover {
            color: $standardLight;
        }
    }
}
code-prism {
    font-size: 90%;
}
code-prism /deep/ pre {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    width: 95%;
    box-sizing: border-box;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.full-page-image, .gif {
    height: 90vh;
    margin: 0 auto;
    padding-top: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    width: 100%;
}
p {margin: 5px 0 5px 0; }
h1 {
    color: $secondary;
    font-size: 225%;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif, sans-serif;
    text-shadow: 2px 5px 10px rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
}
ul {
    list-style-type: circle;
    margin-left: 25px;
}
li {
    margin-bottom: 5px;
    margin-top: 5px;
}
h2 {
    color: $standardDark;
    margin-left: 20px;
}
.attr small {
    font-size: 50%;
    display: block;
}

slide-content {
    background: $primary;
    box-sizing: border-box;
    padding-left: 25px;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

slide-content .sub-title {
    margin: 5px 0 10px 5px;
}

.title-slide {
    padding-top: 30vh;
    text-align: center;
    padding-left: 0;
    h2 {
        margin-left: 0;
    }
}
slide-show {
    /deep/ .progress-bar {
        background-color: $quinary;
        /* Animation technique from Reveal.js <https://github.com/hakimel/reveal.js> */
        transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    }
    /deep/ .next, {
        border-left-color: $quaternary;
    }
    /deep/ .prev, {
        border-right-color: $quaternary;
        z-index: 2;
    }
}

.video-container {
    text-align: center;
}

.browser-table {
    text-align: center;
    margin: 0 auto;
    background: rgba(255, 255, 255, .2);
    padding: 15px;
    img {
        width: 60px;
    }
    th {
        font-size: 80%;
    }
    th, td {
        width: 60px;
        padding: 0 25px;
        line-height: 1;
        vertical-align: middle;
    }
    .yes, .no, .almost {
        font-weight: bold;
    }
    .yes {
        color: green;
        text-shadow: 2px 5px 15px rgba(255, 255, 255, 1);
    }
    .almost {
        color: goldenRod;
        text-shadow: 2px 5px 15px rgba(255, 255, 255, 1);
    }
    .no {
        color: crimson;
        text-shadow: 2px 5px 15px rgba(0, 0, 0, .7);
    }
}

/* Small screens */
@media screen and (max-width: 1000px) {
    body {
        font-size: 125%;
    }
    h1 {
        margin-top: 5px !important;
        font-size: 175% !important;
    }
    code-prism /deep/ code {
        line-height: 1 !important;   
    }
}

/* Print */
@media print {
    body {
        font-size: 160%;
        background: $primary;
    }
    .gif {
        height: 6in;
        display: block;
    }
    slide-show /deep/ .progress-bar {
        display: none;
    }
    slide-content { 
        display: block;
        page-break-after: always;
        height: inherit;
        width: inherit;
        position: static;
    }
}